*.log
access_token.txt
api_key.txt
telegram*
*.pyc
node_modules/
.ve/
.ve-test/
.cache/
__pycache__
*.swp
*.egg-info/
MANIFEST
*.data.cache
dist/
build/
**/test-results/
test-reports/
env.json
build-output/
.idea/
.pytest_cache/
*.iml
venv
micros_assume_role.sh
.DS_Store
